{% extends 'studio/base.html' %}

{% block content %}
<header>
    <h1>Мои заявки</h1>
</header>

{% if applications %}
<ul>
    {% for a in applications %}
    <li>
        <a href="{% url 'studio:application_detail' a.pk %}">
            {{ a.created|date:"d.m.Y H:i" }} - {{ a.title }} ({{ a.get_status_display }})
        </a>
        {% if a.image %}
            <br><img src="{{ a.image.url }}" alt="{{ a.title }}" width="120">
        {% endif %}
        <form style="display:inline" method="post" action="{% url 'studio:delete_application' a.pk %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет заявок.</p>
{% endif %}

<div style="margin-top: 20px;">
    <a href="{% url 'studio:create_application' %}">
        <button style="padding: 10px 20px; font-size: 16px;">Создать новую заявку</button>
    </a>
</div>
{% endblock %}
